div.carousel-container .carousel {
  max-height: 50vh;
}

div.carousel-container .carousel .control-dots .dot {
  width: 16px;
  height: 16px;
}

div.carousel-container .carousel.carousel-slider button.control-arrow::before {
  border: 0;
}

div.carousel-container
  .carousel.carousel-slider
  button.control-arrow.control-next::before {
  content: '►';
}

div.carousel-container
  .carousel.carousel-slider
  button.control-arrow.control-prev::before {
  content: '◄';
}

.carousel .slide img {
  width: 100vw;
}

div.carousel-container .carousel .slide .legend {
  font-size: 2rem;
  top: 0;
  bottom: unset;
}

@media screen and (min-width: 768px) {
  div.carousel-container .carousel .slide .legend {
    max-width: 50%;
    left: 25%;
    margin-left: auto;
  }
}
