h1 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

h4 {
  color : var(--dark-purple);
  font-size: 1.5rem;
}

a {
  color: var(--blue);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.tag {
  position: relative;
  border-radius: 6px;
  background: var(--purple);
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin: 0.1rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--white);
  transition: clip-path 500ms;
  margin-bottom: 1rem;
}

.exhibit-tag {
  background: var(--dark-teal);
}

.exhibit-tag:after {
  background: var(--light-blue);
}

.collection-tag {
  background: var(--x-dark-blue);
}

.collection-tag:after {
  background: var(--dark-blue);
}

.tag:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.tag:hover:after {
  transform: translate(-100%, -100%);
}

span.ais-Highlight * {
  font-size: 1.4rem;
}

a span.ais-Snippet-nonHighlighted {
  color: var(--black);
}

input.ais-SearchBox-input {
  font-size: 2rem;
  font-family: 'Red Hat Text';
}
div.ais-SearchBox.search-box {
  min-width: 20rem;
  max-width: 40rem;
}
.search-pagination {
  /* display: inline-flex; */
}

li.ais-Hits-item {
  min-width: 20rem;
  max-width: 25%;
  max-height: 20rem;
  overflow: hidden;
  line-height: 1.5rem;
}


div.refinements {
  margin-top: 1rem;
  margin-left: 1rem;
}

/* .series-carousel.ais-Hits-list {
  
} */

.series-carousel .ais-Hits-item {
  border: 2px solid var(--light-purple);
  padding: .5rem;
  min-width: 14rem;
}

/* div.page-body-container {
 line-height: 2rem;;
} */

@media only screen and (max-width: 600px) and (orientation: portrait) {

  div.page-body-container {
    margin: 1.5rem;
    font-size: 1.2rem;
  }

  input.ais-SearchBox-input {
    width: 90%;
  }
}