.tag {
  position: relative;
  /* display: inherit; */
  border-radius: 6px;
  /* clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px); */
  background: var(--purple);
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin: 0.1rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--white);
  transition: clip-path 500ms;
}
/* 
.tag:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--light-purple);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 500ms;
} */

.exhibit-tag {
  background: var(--dark-teal);
}

.exhibit-tag:after {
  background: var(--light-blue);
}

.collection-tag {
  background: var(--x-dark-blue);
}

.collection-tag:after {
  background: var(--dark-blue);
}

.tag:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.tag:hover:after {
  transform: translate(-100%, -100%);
}

span.ais-Highlight span {
  font-size: 1.4rem;
}

a span.ais-Snippet-nonHighlighted {
  color: var(--black);
}

input.ais-SearchBox-input {
  font-size: 2rem;
  font-family: 'Red Hat Text';
}

li.ais-Hits-item {
  min-width: 20rem;
  max-width: 25%;
  max-height: 20rem;
  overflow: hidden;
}

div.search-results {
  margin: 1rem;
}