/* Fonts */
@font-face {
  font-family: 'Red Hat Display';
  src: url('public/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('public/fonts/RedHatText-VariableFont_wght.ttf');
}

body, h1, h2 {
  margin:  0;
  font-family: 'Red Hat Text', sans-serif;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1, h2 {
  font-family: 'Red Hat Display', sans-serif;
  color: var(--purple);
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: var(--purple);
  font-size: 2rem;
}

h4 {
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
}

input {
  padding: 0px;
}

a {
  text-decoration: none;
}

a.series-alphabet-link {
  width: 4vw;
  display: inline-block;
  font-size: 1em;
  padding-right: 0.6vw;
}

p, li {
/*  line-height: clamp(1.8em, 1.8em, 4em);*/
}

ul.numbered-list {
  list-style: number;
}

h1.series-bigtitle {
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

div.series-summary {
  font-size: 1.2em;
  margin-bottom: 4rem 
}

div.series-group {
}

div.series-group-letter {
  font-size: 2em;
  font-weight: bold;
  color: var(--dark-purple);
  margin-bottom: 1.6vh;
}

a.series-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  display: inline-block;
  color: var(--blue);
  font-size: 1em;
  font-weight: 500;

  height: 2.3vh;

  margin-bottom: 1.6vh;
}

a.static-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  color: var(--blue);
  font-weight: bold;
  padding:  1em;
  height: 2.3vh;
}


div.static-halfbox img {
  max-width: 100%;
}

div.static-halfbox {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 48%;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

div.big-blue-button {
  border-radius: 30px;
  background-color: var(--blue);
}

hr.spaced-hr {
  margin-bottom: 2.4em;
}

div.series-search-container input {
  height:  4vh;
  max-height: 3em;
  width: 60%;
}


div.series-search-container input.series-search {
  padding-block: 0px;
  padding-inline: 0px;
}

div.series-search-button {
  margin-left: 0.2vw;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--blue);
  width:  3vw;
  height:  2vw;
  max-height: 2em;
  background-image: url("/magnifying_glass.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

div.carousel-container {
  overflow: hidden;
}

div.top-bar-container {
    /* just in case */
}

div.purple-bar-container {
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--x-dark-purple);
}

div.purple-bar-container a.top-title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2em;
  color:  var(--white);
  margin-left: 4vw;
}

div.navigation-bar-container {
  position: relative;
  z-index: 1000;
  background-color: var(--x-light-gray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.navigation-bar-container div#mobile-menu-icon {
  display: none;
  color: var(--purple);

}

div.navigation-bar-container div#navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--purple);
  font-size: 1.2rem;
  font-weight: 500;
}

img.ov-logo {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  width: 8rem;
}

a.navigation-link {
  overflow: visible;
  display: inline-block;
}

a.navigation-link div {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align:  center;
  /*background-color: #732487;*/
}

.affiliated-websites-menu {
  min-width: 200px;
  margin-right: 2rem;
  right:  0;
  text-align: right;
}

.affiliated-websites-menu a.drawer-item {
  padding-bottom: 1rem;
}

.about-menu {
}

.drawermenu-container {
  display: inline-block;
}

.drawermenu-label {
}

.drawermenu-container:hover > .drawermenu-items {
  position: absolute;
  display: block;
}

.chevron {
  border-right: .2rem solid; 
  border-bottom: .2rem solid;
  border-radius: .2rem;
  height: .5rem;
  width: .5rem;
  transform: rotate(45deg);
  color: var(--purple);
  display: inline-block;
  margin-left: .5rem;
}

.drawermenu-items {
  min-width: 15rem;
  display: none;
}

.drawer-item {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: block;
  color: var(--black);
}

.drawer-item:hover {
  background-color: var(--light-gray);

}

.drawer-title {
  font-family: 'Red Hat Display', sans-serif;
  /* font-size: 1.2em; */
  font-weight: bold;
  color: var(--purple)
}

div.drawer-subtitle {
  font-size: 1rem;
  font-weight: 300;
}

div.drawermenu-items {
  background-color: var(--x-light-gray);
  border: 1px solid var(--white);
  display: none;
}

div.bottom-bar-container {
  padding-top: 6vh;
  padding-bottom: 8vh;
  height: 20vh;
  background-color: var(--x-dark-gray);
  color: var(--white);
}

div.bottom-bar-row {

}

div.bottom-bar-column {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  vertical-align: top;
  margin-left: 5vw;
  width: 18vw;
  display: inline-block;
}

div.bottom-bar-doublecolumn {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  vertical-align: top;
  margin-left: 5vw;
  width: 36vw;
  display: inline-block;
}

div.bottom-bar-logos, div.bottom-bar-logos img{
  width: 10vw;
}

a.bottom-bar-link {
  width:  20vw;
  font-size: 1.2em;
  color: var(--white);
  display: block;
}

div.page-container {
  position: relative;
  width: 100%;
}

div.page-sidebar {
  position: fixed;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 3rem;
  vertical-align: top;
  /*background-color: #f4f4f4;*/
  display: inline-block;
  width: 18%;
  font-size: 1.2em;
}

div.page-sidebar-border {
  border-right: 1px solid var(--black);
}

a.page-sidebar-link {
  font-family: 'Red Hat Display', sans-serif;
  color: var(--blue);
  display: block;
  font-size: 1em;
  margin-top: 1em;
}

div.page-authorbubble-container {
  width: 30vw;
  margin-bottom: 6vh;
}

div.page-authorbubble-container div.author-bubble {
  display: inline-block;
}

div.page-authorbubble-container div.author-byline {
  position: relative;
  display: inline-block;
  bottom: 4vh;
  font-size: 1.2em;
  margin-left: 2vw;
}

div.page-body-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  vertical-align: top;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

div.page-body {
  max-width: 750px;
  margin-left: 20vw;

}

div.page-titlebar {
  height:  40vh;
  min-height: 22em;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  font-family: 'Red Hat Display', sans-serif;
}

/*main page title */
h1.page-titlebar-title {
  color: var(--white);
  background-color: var(--dark-purple);
  padding: 1rem;
  font-size: 2.5em;
  display: block;
  bottom: 0;
  position: absolute;
  min-width: 40vw;
  max-width: 80vw;
  text-align: center;
}

h1.page-titlebar-title h2.page-titlebar-subtitle{
  font-size: 0.4em;
  font-weight: normal;
  color: var(--x-light-gray);
}

/*styling elements rendered from exhibit body field*/
div.page-body h1 {
  color: var(--dark-purple);
  font-size: 3em;
  display: block;
  margin-bottom: 1em;
}

div.page-body h2 {
  color: var(--dark-purple);
  font-size: 1.8em;
  display: block;
  margin-bottom: 1.2em;
}

div.page-body p {
  /*background-color: #f4f4f4;*/
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

div.page-container a.page-nav-link {
  display: block;
  font-size: 1em;
}

div.pagelinks-allexhibits a.exhibit-viewall {

}

a.exhibit-index-link {
  display: inline-block;
  width: 20vw;
  height:  18vw;
  margin-left: 3vw;

  color:  var(--black);
  font-size: 1.2em;
  position: relative;
}

div.exhibit-index-link-title {
  width:  100%;
  text-align: center;
  bottom:  0;
  position: absolute;
}

div.exhibit-index-coverimg {
  background-color: var(--x-light-gray);
  width: 20vw;
  min-height:  15vw;
  background-size: cover;
}

div.exhibit-bottom-graybar {
  background-color: var(--x-light-gray);
}

div.pagelinks-container {
  margin-left: 8vw;
  margin-top: 6vh;
  padding-bottom: 6vh;
}

div.pagelinks-also {
  display: inline-block;
  font-size: 2em;
  color: var(--dark-purple);
  width: 70vw;
}

div.pagelinks-all {
  width: 20vw;
  display: inline-block;
}

div.pagelinks-top {
  padding-top: 6vh;
}

div.pagelinks {
  margin-top: 4vh;
}

div.pagelink {
  position: relative;
  display: inline-block;
  width:  20vw;
  height: 15vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
}

div.exhibit-bottomlink a {
 color: var(--black);
}

div.pagelink-image {
  background-size: cover;
  background-position: center;
  width:  100%;
  height: 15vw;
}

div.pagelink-title {
  margin-top: 2vh;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

div.pagelink-subtitle {
  font-size: 1em;
}

div.author-bubble {
  background-size: cover;
  width: 6vw;
  height: 6vw;
  border-radius: 20vw;
  border: 2px solid var(--white);
}

div.author-bubble.box-attach {
  position: absolute;
  bottom: -2vw;
  right: -2vw;
}

div.med-heading {
  font-weight: bold;
  font-size: 1.2em;
}

div.med-textline {
  font-size: 1.1em;
  margin-bottom: 2em;
}

.blockquote-text {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}

.bold {
  font-weight: bold;
}

div.spaced {
  margin-top: 1em;
  vertical-align: top;
  text-align: left;
}

div.small-text {
  font-size: 1em;
  margin-bottom: 1.2em;
}

/*content blocks*/

div.content-block {
  /* font-size: clamp(16px, 4rem, 18px); */
  padding: 1vw;
  margin-bottom: 1.2em;
}

div.content-block div.content-block-body p {
  /* font-size: 1rem; */
  padding: 0;
}

div.content-text {}

div.content-heading {
  font-weight: bold;
  font-size: 1.8em;
}

div.content-subheading {
  font-weight: bold;
  font-size: 1.4em;
}

div.content-image {
  color: var(--white);
  background-color: var(--x-dark-gray);
}

div.content-relatedcontent {}

div.content-relatedcontent a {
  display: inline-block;
  color: var(--blue);
  width: 50%;
}

div.content-credits p {}

div.content-interviews a.interview {
  color: var(--dark-purple);
  font-weight: bold;
  width: 50%;
  text-align: center;
  display: inline-block;
}

div.content-interviews a.interview img {
  max-height: 24vh;
}

div.content-programs a.program {
  
}

a.aapb-records-seemore {
  display: block;
  text-align: right;
  padding-top: 2vh;
  padding-right: 4vw;
  color: var(--blue);
  font-weight: bold;
  font-size: clamp(12px, 2rem, 16px);
}

a.content-aapbblock {
  background-size: contain;
  margin-right: 1vw;
  background-color: var(--black);
  color: var(--dark-purple);
  font-weight: bold;
  width: 30vw;
  min-height: 22.5vw;
  text-align: center;
  display: inline-block;
  position: relative;
}

iframe.aapb-record-video {
  padding: 0;
  height: 22.5vw;
  max-width: 30vw;
  width: 30vw;
}

a.content-aapbblock div.shade-bar {
  vertical-align: middle;
  font-size: 1vw;
  text-align: left;
  width: 100%;
  color: var(--white);
  background-color: var(--black);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  height: 6vw;
  line-height: 6vw;
  overflow: hidden;
}

a.content-aapbblock div.shade-bar div {
  /*  extra element here to pad without changing shade bar size */
  width: 100%;
  padding-left: 2vw;
}


a.content-aapbblock div.blue-circle {
  bottom: 1vw;
  right: 1vw;
  position: absolute;
  width: 4vw;
  min-height: 4vw;
  height: 4vw;
  background-color: var(--blue);
  border-radius: 20vw;
  text-align: center;
  vertical-align: middle;
  color: var(--white);
  font-size: 3vw;  
}

a.content-aapbblock div.blue-circle div {
  /* white triangle */
  bottom: -1vw;
  right: -1.32vw;
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1.68vw solid var(--white);
}


div.aapb-records {}
/*
iframe.aapb-record-video {
  width: 100%;
  min-height: 22.5vw;
  height: 22.5vw;
}
*/
div.guids-block-title {
  font-size: 2vw;
  font-weight: bold;
  margin-left: 1vw;
  margin-bottom: 1.2em;
}

div.org-logos img {
  width: 100%;
  margin-left: 4vw;
}

p.static-section {
  margin-bottom: 1.2em;  
}

div.static-credits div div {
  line-height: 1.6em;
}

img.half-image {
  width: 50%;
  padding: 1.2em;
}

.right {
  float: right;
}

.left {
  float: left;
}

div.guids-block-title p {
  padding-left: 0;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 601px){
  #mobile-menu {
    display: none;
  }
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
/* navigation */
  .mobile-hidden {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  div.navigation-bar-container {
    position: fixed;
    top: 0;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: inherit;
  }

  div.navigation-bar-container div#navigation-bar {
    margin: 0;
    padding: 0;
  }

  div.drawermenu-toggle {
    display: none;
  }

  a.navigation-link, a.drawer-item, span.drawermenu-label, a.drawer-item div.drawer-title {
    /* font-size: 3.6vw; */
    /* position: relative;
    display: block; */
  }
  
  .affiliated-websites-menu, .about-menu {
    display: block;
    right: initial;
  }

  div.drawermenu-container, span.drawermenu-label, div.drawermenu-container div.drawermenu-items, div.affiliated-websites-menu a.drawer-item, a.navigation-link, div.about-menu a.drawer-item, span.drawermenu-label {
    min-width: 100%;
    display: block;
    width: 100%;
    position: relative;
  }

  span.drawermenu-label {
    text-align: center;
    background-color: var(--x-light-gray);
    color: var(--gray);
  }

  div.page-titlebar {
/*    display: none;*/
  }

  div.drawermenu-container a.drawer-item, a.navigation-link div {
    width: 100%;
    font-size: 3.6vw;
  }

  div.drawermenu-container a.drawer-item, a.navigation-link, span.drawermenu-label {
    padding-top: 1vh;
    height: 4vh;
    max-height: 4vh;
  }

  div.drawermenu-container a.drawer-item, a.navigation-link {
    border: 1px solid white;
    color: var(--dark-purple);
  }

  div.drawermenu-items {
    display: block;
    border: 0;
    padding: 0;
  }

  div.drawermenu-items a.drawer-item div.drawer-subtitle {
    display: none;
  }

  div.drawermenu-items a.drawer-item, span.drawermenu-label {
    border: 1px solid white;
    padding: 0;
    padding-top: 1vh;
  }

  a.drawer-item div.drawer-title {
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
  }

  div.navigation-bar-container div#mobile-menu-icon {
    color: var(--white);
    font-size: 3rem;
    background-color: var(--x-dark-purple);
    width: 96vw;
    display: block;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url("/menu-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
  }

  /* title bar */
  div.page-titlebar {
    position: relative;
    min-height: 30vh;
    height: 30vh;
    background-position: center;
    background-size: cover;
  }

  h1.page-titlebar-title {
    font-size: 8vw;
    width: 100%;
    display: block;
  }

  /*  index pages */
  div.pagelinks-container {
    margin-bottom: 8vh;
  }

  div.pagelink {
    display: block;
    width: 84vw;
    height: 70.5vw;
    margin: 0;
  }

  div.pagelink-image {
    width: 84vw;
    height: 70.5vw;
  }

  div.pagelink-title {
    text-align: center;
  }

  div.author-bubble {
    width: 16vw;
    height: 16vw;
  }

  div.author-bubble.box-attach {
    right: -4vw;
    bottom: -4vw;
  }

  /* show page body */
  div.page-container {
  }

  div.page-sidebar, div.page-body-container, div.page-titlebar, div.page-titlebar h1.page-titlebar-title {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  div.page-sidebar, div.page-body-container {
    margin-top: 4vh;    
  }

  div.page-body-container div.page-body, div.page-sidebar {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: clamp(12px, 2rem, 16px);;
    width: 92vw;
  }

  div.content-relatedcontent a {
    display: block;
    width: 92vw;
  }

  /* footer */
  div.bottom-bar-container {
    display: block;
    height: inherit;
  }

  div.bottom-bar-row, div.bottom-bar-column, a.bottom-bar-link, div.bottom-bar-logos, div.bottom-bar-doublecolumn {
    font-size: 4vw;
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
  }

  div.bottom-bar-logos img {
    width: 30vw;
  }

  div.page-authorbubble-container {
    margin-left: 4vw;
  }

  div.page-authorbubble-container div.author-byline {
    bottom: 0;
    display: block;
  }
}
