@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body, h1 {
  margin:  0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}


a.exhibit-link {
  background-color:  #ff0;
}

a.exhibit-record-link {
  display: block;
}

div.carousel-container {
  max-height:  40vh;
  overflow: hidden;
}

div.top-bar-container {
  /* just in case */
}

div.purple-bar-container {
  /*margin-left: 10vw;*/
  /*width: 80vw;*/
  height: 6vh;
  padding-top: 2vh;
  background-color: #430467;
  /*margin-bottom: 4vh;*/
}

div.purple-bar-container a.top-title {
  font-size: 2em;
  color:  #fff;
  margin-left: 4vw;
}

div.navigation-bar-container {
  background-color: #ededed;
  height: 2.6vh;
  padding-bottom: 3.6vh;
}

div.navigation-bar-container div.navigation-bar {
  margin-left: 4vw;
  padding-top: 2vh;
}

img.ov-logo {
  position: absolute;
  right: 0;
  margin-right: 4vw;
  width:  8vw;
}

div.navigation-bar-container div.navigation-bar span.affliated-websites-menu {
  width:  14vw;
  min-width: 200px;
  margin-right: 2vw;
  right:  0;
  position: absolute;
  top: -2vw;
}

a.navigation-link {
  color: #430467;
  overflow: hidden;
  position: relative;
  top: 0;
  height: 2em;
  display: inline-block;
  /*4vh tall*/
  /*min-height: 2vh;*/
  /*margin-left: 2vw;*/
}

a.navigation-link div {
  height: 2vh;
  /*padding-left: 2vw;*/
  padding-right: 2vw;
  font-size: 1em;
  text-align:  center;
  /*background-color: #732487;*/
}

div.drawermenu-container {
  text-align: center;
  width:  28vw;
  min-width: 200px;
  margin-right: 2vw;
  right:  0;
  position: absolute;
  display: inline-block;
  z-index: 100;
}

div.drawermenu-label {
  display: block;
  position: absolute;
}

div.drawermenu-toggle {
  margin-left: 0.5vw;
  display: inline-block;
  width: 1vw;
  max-width: 16px;
  height: 0.6vw;
  max-height:8px;
  background-position: center;
  background-size: contain;
  background-image: url("/down-chevron-small.png");
}

div.drawermenu-items {
  display: none;
  padding-top: 1vw;
}
  
a.drawer-item {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: left;
  display: block;
  height: 6vh;
  color: #000;
}

a.drawer-item div.drawer-title {
  font-size: 1em;
  font-weight: bold;
}

a.drawer-item div.drawer-subtitle {
  font-size: 0.8em;
}

div.drawermenu-items.open {
  background-color: #ededed;
  border: 1px solid white;
  display: block;
}

div.bottom-bar-container {
  padding-top: 6vh;
  height: 20vh;
  background-color: #666;
}

div.bottom-bar-column {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  vertical-align: top;
  margin-left: 5vw;
  width: 20vw;
  display: inline-block;
}

div.bottom-bar-logos, div.bottom-bar-logos img{
  width: 10vw;
}

a.bottom-bar-link {
  width:  20vw;
  font-size: 1.2em;
  color: #fff;
  display: block;
}

div.exhibit-container {
  position: relative;
  width: 100%;
}

div.page-sidebar {
  border-right: 1px solid #000;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 6vh;
  vertical-align: top;
  /*background-color: #f4f4f4;*/
  display: inline-block;
  width: 18%;
}

a.page-sidebar-link {
  color: #99f;
  display: block;
  font-size: 1em;
  margin-top: 1em;
}

div.exhibit-authorbubble-container {
  width: 30vw;
  margin-bottom: 6vh;
}

div.exhibit-authorbubble-container div.author-bubble {
  display: inline-block;
}

div.exhibit-authorbubble-container div.author-byline {
  position: relative;
  display: inline-block;
  bottom: 4vh;
  font-size: 1.2em;
  margin-left: 2vw;
}

div.exhibit-body-container {
  margin-top: 6vh;
  vertical-align: top;
  display: inline-block;
  width: 64%;
}

div.exhibit-body {

}

div.page-titlebar {
  height:  30vh;
  position: relative;
}

/*main page title */
h1.page-titlebar-title {
  color: #fff;
  background-color: #404  ;
  padding: 1vw;
  font-size: 3em;
  display: block;
  bottom: 0;
  position: absolute;
  width: 40vw;
  text-align: center;
}

div.exhibit-body h2 {
  color: #404;
  font-size: 1.8em;
  display: block;
}

div.exhibit-body p {
  font-size: 1.4em;
  background-color: #f4f4f4;
  padding:  1em;
  margin: 0;
}

div.exhibit-container a.exhibit-nav-link {
  display: block;
  font-size: 1em;
}

div.pagelinks-allexhibits a.exhibit-viewall {

}

a.exhibit-index-link {
  display: inline-block;
  width: 20vw;
  height:  18vw;
  margin-left: 3vw;

  color:  #000;
  font-size: 1.2em;
  position: relative;
}

div.exhibit-index-link-title {
  width:  100%;
  text-align: center;
  bottom:  0;
  position: absolute;
}

div.exhibit-index-coverimg {
  background-color: #eee;
  width: 20vw;
  min-height:  15vw;
  background-size: cover;
}

div.exhibit-bottom-graybar {
  background-color: #ededed;
}

div.pagelinks-container {
  margin-left: 8vw;
  margin-top: 6vh;
  padding-bottom: 6vh;
}

div.pagelinks-also {
  display: inline-block;
  font-size: 2em;
  color: #404;
  width: 70vw;
}

div.pagelinks-all {
  width: 20vw;
  display: inline-block;
}

div.pagelinks-top {
  padding-top: 6vh;
}

div.pagelinks {
  margin-top: 4vh;
}

div.pagelink {
  position: relative;
  display: inline-block;
  width:  24vw;
  height: 24vh;
  margin-right: 6vw;
}

div.exhibit-bottomlink a {
 color: #000;
}

div.pagelink-image {
  background-size: cover;
  background-position: center;
  width:  24vw;
  height: 24vh;
}

div.pagelink-title {
  margin-top: 2vh;
  font-size: 1em;
  font-weight: bold;
}

div.pagelink-subtitle {
  font-size: 1em;
}

div.author-bubble {
  background-size: cover;
  width: 6vw;
  height: 6vw;
  border-radius: 20vw;
  border: 2px solid #fff;
}

div.author-bubble.box-attach {
  position: absolute;
  bottom: -2vw;
  right: 2vw;
}


