@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body, h1, h2 {
  margin:  0;
  font-family: 'Lato', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

input {
  padding: 0px;
}

a {
  text-decoration: none;
}

a.series-alphabet-link {
  width: 4vw;
  display: inline-block;
  font-size: 1em;
  padding-right: 0.6vw;
}

p, li {
  line-height: 1.6em;
}

h1.series-bigtitle {
  color:  #430467;
  font-size: 3em;
  margin-left: 6vw;
  margin-bottom: 2vh;
}

div.series-summary {
  font-size: 1.4em;
  margin-bottom: 6vh;
  margin-left: 6vw;
}

div.series-group {
  margin-bottom: 6vh;
  margin-left: 6vw;
}

div.series-group-letter {
  font-size: 2em;
  font-weight: bold;
  color: #430467;
  margin-bottom: 1.6vh;
}

a.series-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  display: inline-block;
  color: #2B72F6;
  font-size: 1em;
  font-weight: bold;

  height: 2.3vh;

  margin-bottom: 1.6vh;
}

a.static-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  color: #2B72F6;
  font-weight: bold;
  padding:  1em;
  height: 2.3vh;
}


div.static-halfbox img {
  max-width: 100%;
}

div.static-halfbox {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 48%;
  font-size: 1.6em;
  margin-bottom: 2em;
}

div.big-blue-button {
  border-radius: 30px;
  background-color: #2B72F6;
}

hr.spaced-hr {
}

div.series-search-container input {
  height:  4vh;
  max-height: 3em;
  width: 60%;
}


div.series-search-container input.series-search {
  height:  2em;
  max-height: 2em;
    
  padding-block: 0px;
  padding-inline: 0px;
}

div.series-search-button {
  display: inline-block;
  vertical-align: middle;
  background-color: #2B72F6;
  width:  20%;
  width:  5vh;


  height:  2em;
  max-height: 2em;
  background-image: url("/magnifying_glass.png");
  background-size: contain;
  background-repeat: no-repeat;
}

div.carousel-container {
  max-height:  40vh;
  overflow: hidden;
}

div.top-bar-container {
  /* just in case */
}

div.purple-bar-container {
  /*margin-left: 10vw;*/
  /*width: 80vw;*/
  height: 6vh;
  min-height: 3.6em;
  padding-top: 2vh;
  background-color: #430467;
  /*margin-bottom: 4vh;*/
}

div.purple-bar-container a.top-title {
  font-size: 2em;
  color:  #fff;
  margin-left: 4vw;
}

div.navigation-bar-container {
  background-color: #ededed;
  height: 1.2em;
  min-height: 1.2em;
  padding-bottom: 2em;
}

div.navigation-bar-container div#mobile-menu-icon {
  display: none;
}

div.navigation-bar-container div#navigation-bar {
  margin-left: 4vw;
  padding-top: 1em;
}

img.ov-logo {
  position: absolute;
  right: 0;
  margin-right: 4vw;
  width:  8vw;
}

a.navigation-link {
  color: #430467;
  overflow: hidden;
  position: relative;
  top: 0;
  height: 2em;
  display: inline-block;
  /*4vh tall*/
  /*min-height: 2vh;*/
  /*margin-left: 2vw;*/
}

a.navigation-link div {
  height: 2vh;
  /*padding-left: 2vw;*/
  padding-right: 2vw;
  font-size: 1em;
  text-align:  center;
  /*background-color: #732487;*/
}

div.affiliated-websites-menu {
  width:  28vw;
  min-width: 200px;
  margin-right: 2vw;
  right:  0;
  position: absolute;
  text-align: center;
}

div.affiliated-websites-menu a.drawer-item {
  padding-top: 2vh;
  padding-bottom: 3vh;
}

div.about-menu {
  position: absolute;
  min-width: 240px;
  width: 12vw;
  color: #430467;
}

div.drawermenu-container {
  display: inline-block;
}

div.drawermenu-label {
  display: block;
  position: absolute;
}

div.drawermenu-container:hover > div.drawermenu-items {
  display: block;
}

div.drawermenu-toggle {
  margin-left: 0.5vw;
  display: inline-block;
  width: 1vw;
  min-width: 14px;
  max-width: 14px;
  height: 0.6vw;
  max-height:8px;
  background-position: center;
  background-size: contain;
  background-image: url("/down-chevron-small.png");
}

div.drawermenu-items {
  min-width: 12vw;
  display: none;
}
  
a.drawer-item {
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1vh;
  text-align: left;
  line-height: 2vh;
  display: block;

  min-width: 8vw;

  min-height: 2em;
  height: 2vh;
  max-height: 2em;
  color: #000;
}

a.drawer-item:hover {
  background-color: #cdcdcd;

}

a.drawer-item div.drawer-title {
  font-size: 1.2em;
  font-weight: bold;
}

a.drawer-item div.drawer-subtitle {
  font-size: 0.8em;
}

div.drawermenu-items {
  background-color: #ededed;
  border: 1px solid white;
  display: none;
}

div.bottom-bar-container {
  padding-top: 6vh;
  padding-bottom: 8vh;
  height: 20vh;
  background-color: #333;
  color: #fff;
}

div.bottom-bar-row {

}

div.bottom-bar-column {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  vertical-align: top;
  margin-left: 5vw;
  width: 18vw;
  display: inline-block;
}

div.bottom-bar-doublecolumn {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2em;
  vertical-align: top;
  margin-left: 5vw;
  width: 36vw;
  display: inline-block;
}

div.bottom-bar-logos, div.bottom-bar-logos img{
  width: 10vw;
}

a.bottom-bar-link {
  width:  20vw;
  font-size: 1.2em;
  color: #fff;
  display: block;
}

div.page-container {
  position: relative;
  width: 100%;
}

div.page-sidebar {
  padding-top: 2vw;
  padding-left: 2vw;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 6vh;
  vertical-align: top;
  /*background-color: #f4f4f4;*/
  display: inline-block;
  width: 18%;
  font-size: 1.2em;
}

div.page-sidebar-border {
  border-right: 1px solid #000;
}

a.page-sidebar-link {
  color: #99f;
  display: block;
  font-size: 1em;
  margin-top: 1em;
}

div.page-authorbubble-container {
  width: 30vw;
  margin-bottom: 6vh;
}

div.page-authorbubble-container div.author-bubble {
  display: inline-block;
}

div.page-authorbubble-container div.author-byline {
  position: relative;
  display: inline-block;
  bottom: 4vh;
  font-size: 1.2em;
  margin-left: 2vw;
}

div.page-body-container {
  margin-top: 6vh;
  margin-bottom: 8vh;
  vertical-align: top;
  display: inline-block;
  width: 64%;
}

div.page-body {
  font-size: 1.18vw;
}

div.page-titlebar {
  height:  40vh;
  min-height: 22em;
  position: relative;
}

/*main page title */
h1.page-titlebar-title {
  color: #fff;
  background-color: #404  ;
  padding: 1vw;
  font-size: 3em;
  display: block;
  bottom: 0;
  position: absolute;
  width: 40vw;
  text-align: center;
}

h1.page-titlebar-title h2.page-titlebar-subtitle{
  font-size: 0.4em;
  font-weight: normal;
}

/*styling elements rendered from exhibit body field*/
div.page-body h1 {
  color:  #430467;
  font-size: 3em;
  display: block;
  margin-bottom: 1em;
}

div.page-body h2 {
  color: #404;
  font-size: 1.8em;
  display: block;
  margin: 2em;
}

div.page-body p {
  /*background-color: #f4f4f4;*/
  padding:  1em;
  margin: 0;
}

div.page-container a.page-nav-link {
  display: block;
  font-size: 1em;
}

div.pagelinks-allexhibits a.exhibit-viewall {

}

a.exhibit-index-link {
  display: inline-block;
  width: 20vw;
  height:  18vw;
  margin-left: 3vw;

  color:  #000;
  font-size: 1.2em;
  position: relative;
}

div.exhibit-index-link-title {
  width:  100%;
  text-align: center;
  bottom:  0;
  position: absolute;
}

div.exhibit-index-coverimg {
  background-color: #eee;
  width: 20vw;
  min-height:  15vw;
  background-size: cover;
}

div.exhibit-bottom-graybar {
  background-color: #ededed;
}

div.pagelinks-container {
  margin-left: 8vw;
  margin-top: 6vh;
  padding-bottom: 6vh;
}

div.pagelinks-also {
  display: inline-block;
  font-size: 2em;
  color: #404;
  width: 70vw;
}

div.pagelinks-all {
  width: 20vw;
  display: inline-block;
}

div.pagelinks-top {
  padding-top: 6vh;
}

div.pagelinks {
  margin-top: 4vh;
}

div.pagelink {
  position: relative;
  display: inline-block;
  width:  20vw;
  height: 15vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
}

div.exhibit-bottomlink a {
 color: #000;
}

div.pagelink-image {
  background-size: cover;
  background-position: center;
  width:  100%;
  height: 15vw;
}

div.pagelink-title {
  margin-top: 2vh;
  font-size: 1em;
  font-weight: bold;
}

div.pagelink-subtitle {
  font-size: 1em;
}

div.author-bubble {
  background-size: cover;
  width: 6vw;
  height: 6vw;
  border-radius: 20vw;
  border: 2px solid #fff;
}

div.author-bubble.box-attach {
  position: absolute;
  bottom: -2vw;
  right: -2vw;
}

div.med-heading {
  font-weight: bold;
  font-size: 1.2em;
}

div.med-textline {
  font-size: 1.1em;
  margin-bottom: 2em;
}

.blockquote-text {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.gray {
  color: #aaa;
}

.black {
  color: #000;
}

.purple {
  color: #430467;
}

.bold {
  font-weight: bold;
}

div.spaced {
  margin-top: 1em;
  vertical-align: top;
  text-align: left;
}

div.small-text {
  font-size: 1em;
}

/*content blocks*/

div.content-block {
  font-size: 1.2em;
  padding: 1vw;
}

div.content-block h3 {
  color: #404;
}

div.content-block div.content-block-body p {
  font-size: 1em;
  padding: 0;
}

div.content-text {}

div.content-heading {
  font-weight: bold;
  color: #404;
  font-size: 1.8em;
}

div.content-image {
  color: #fff;
  background-color: #222;
}

div.content-relatedcontent {}

div.content-relatedcontent a {
  display: inline-block;
  color: #2B72F6;
  width: 50%;
}

div.content-credits p {}

@media only screen and (max-width: 900px) {
/* navigation */
  .hidden {
    display: none;
  }

  div.navigation-bar-container {
    position: absolute;
    top: 0;
    min-width: 100%;
    width: 100%;
    margin: 0;
    height: inherit;
  }

  div.navigation-bar-container div#navigation-bar {
    margin: 0;
    padding: 0;
  }

  div.drawermenu-toggle {
    display: none;
  }

  a.navigation-link {
    position: relative;
    display: block;
  }
  
  div.affiliated-websites-menu, div.about-menu {
    display: block;
    margin-bottom: 2vh;
    height: 2em;
    right: initial;
  }

  div.drawermenu-container, span.drawermenu-label, div.about-menu, div.drawermenu-container div.drawermenu-items, div.affiliated-websites-menu a.drawer-item,  div.about-menu a.drawer-item, span.drawermenu-label {
    min-width: 100%;
    display: block;
    width: 100%;
  }

  span.drawermenu-label {
    text-align: center;
    background-color: #ededed;
    color: #a9a9a9;
  }

  div.page-titlebar {
    display: none;
  }

  div.drawermenu-container a.drawer-item, a.navigation-link div {
    width: 100%;
    font-size: 3.6vw;
  }

  div.drawermenu-container a.drawer-item, a.navigation-link {
    border: 1px solid white;
  }

  div.drawermenu-items {
    display: block;
    border: 0;
    padding: 0;
  }

  div.drawermenu-items a.drawer-item div.drawer-subtitle{
    display: none;
  }

  div.drawermenu-items a.drawer-item {
    border: 1px solid white;
    padding: 0;
    font-size: 3.6vw;
  }

  a.drawer-item div.drawer-title {
    text-align: center;
    font-size: 4vw;
    font-weight: normal;
  }

  div.navigation-bar-container div#mobile-menu-icon {
    font-size: 6vw;
    color: #fff;
    background-color: #430467;
    width: 100%;
    height: 2em;
    display: block;
    background-image: url("/menu-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  /* body */
  div.page-container {
    display: none;
  }
}
